option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "5000"
    _JAVA_OPTIONS: "-Dserver.port=5000"

files:
  "/var/app/staging/Procfile":
    mode: "000644"
    owner: root
    group: root
    content: |
      web: java -Dserver.port=5000 -Dspring.profiles.active=aws -jar target/credit_score_sys-0.0.1-SNAPSHOT.jar

commands:
  01_copy_procfile:
    command: "cp /var/app/staging/Procfile /var/app/current/Procfile || true"
    ignoreErrors: true
