option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: "5000"
    SPRING_PROFILES_ACTIVE: "aws"
  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
