files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream nodejs_upstream {
        server 127.0.0.1:8080;
        keepalive 256;
      }

      server {
        listen 80 default_server;
        server_name _;
        client_max_body_size 20M;

        location / {
          proxy_pass http://nodejs_upstream;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_redirect off;
        }
      }

commands:
  01_disable_eb_nginx_config:
    command: "rm -f /etc/nginx/conf.d/elasticbeanstalk.conf"
    ignoreErrors: true
  02_reload_nginx:
    command: "systemctl reload nginx"
    ignoreErrors: true
