option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
    NumProcesses: 1
    NumThreads: 15
  
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: "production"
    PORT: "5000"
  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

commands:
  01_create_model_dir:
    command: "mkdir -p /var/app/current/model"
